body{
    background-image: url(./Images2/e69c4451-d3c2-4ad7-97b6-c78234da920b.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-shadow: 3px 3px 5px black;
    color: white;
    text-align: center;
}

.frog1{
    width: 250px;
    margin: 3% 0 0 3%;
}

#Dialogue1{
    display: flex;
}

#D1{
    background-color: rgba(255, 255, 255, 0.3);
    width: 50%;
}

#C1{
    text-align: center;
    animation: pulse 2s infinite;
}

#C2{
    text-align: center;
    animation: pulse 2s infinite;
}

.contain{
    padding: 5%;

}

.containerAll{
    display: flex;
    color: rgb(93, 7, 93);
    text-shadow: 1px 1px 4px rgb(255, 255, 255);
    font-size: 15.5px;
    justify-content: space-around;
   }

   #container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    border: 1px solid white;
    border-radius: 2%;
    padding: 1%;
    margin: 1%;
   }

   #container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    border: 1px solid white;
    border-radius: 2%;
    padding: 1%;
    margin: 1%;
   }

   #container3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    border: 1px solid white;
    border-radius: 2%;
    padding: 1%;
    margin: 1%;
   }

   .imgs1{
    width: 200px;
    padding: 1%;
   }

   @keyframes pulse{
    0% {
        transform: scale(0.95);
        text-shadow: 1px 1px 5px black;
    }
    50% {
        transform: scale(1);
        text-shadow: 1px 1px 30px black;
    }
    100% {
        transform: scale(0.95);
        text-shadow: 1px 1px 5px black;
    }
   }