body{
    background-image: url(./images/aab96752-4c81-40bd-9ad6-2b0c974f1b63.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-shadow: 3px 3px 5px black;
    color: white;
   }

   .frog1{
    width: 250px;
    margin: 3% 0 0 3%;
   } 

   .InCaseOfNo{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
   }

   #char1{
    width: 250px;
    margin: 3% 0 0 3%;
   }

   #Dialogue1{
    display: flex;
   }

   #Dialogue2{
    display: flex;
    flex-direction: row-reverse;
   }

   #Dialogue3{
    display: flex;
   }

   #intro{
    background-color: rgba(255, 255, 255, 0.3);
    width: 50%;
   }

   #D2{
    background-color: rgba(255, 255, 255, 0.3);
    width: 50%;
   }

   #D1{
    background-color: rgba(255, 255, 255, 0.3);
    width: 50%;
   }

   #Dialogue2 > span {
    font-weight: 700;
   }

   button{
    color: white;
    background-color: black;
   }

   .unknown{
    background-color: black;
   }

   /*ykbby.otm